@header-height: 64px;

.site-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: @header-height;
  z-index: 100;
  font-weight: 400;

  .logo {
    height: @header-height;
    img {
      height: 24.5px;
    }
  }
  nav {
    ul {
      margin: 0;
      padding: 0%;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 29px;
      @media screen and (min-width: 991.98px) {
        height: @header-height;
        flex-direction: row;
        align-items: center;
        padding: 0;
      }
      li {
        margin: 0 0 22px 15px;
        /* Iphone X/XS support */
        @media (min-width: 811px) and (max-width: 812px) {
          margin-left: 40px !important;
        }
        /* Iphone XR/XS max support */
        @media (min-width: 895px) and (max-width: 896px) {
          margin-left: 40px !important;
        }
        @media screen and (min-width: 991.98px) {
          margin: 0 15px;
        }
      }
    }
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-bottom: 23px;
    width: 260px;
    border-bottom: 1px solid #E1E1E1;
    /* Iphone X/XS support */
    @media (min-width: 811px) and (max-width: 812px) {
      padding-left: 40px !important;
    }
    /* Iphone XR/XS max support */
    @media (min-width: 895px) and (max-width: 896px) {
      padding-left: 40px !important;
    }
    @media screen and (min-width: 991.98px) {
      flex-direction: row;
      align-items: center;
      padding: 0;
      width: auto;
      border: none;
    }
    .user-name {
      @media screen and (min-width: 991.98px) {
        text-align: right;
      }
      .nickname {
        white-space: nowrap;
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        @media screen and (min-width: 991.98px) {
          max-width: 125px;
          font-size: 14px;
        }
        .placeholder-ui {
          background-color: #dadada;
          width: 70px;
          height: 10px;
          margin-bottom: 10px;
          @media screen and (min-width: 991.98px) {
            margin-left: auto;
          }
        }
      }
      .email {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 3px;
        color: #8D8C8C;
        white-space: nowrap;
        @media screen and (min-width: 991.98px) {
          max-width: 125px;
          font-size: 12px;
          margin-top: 0;
        }
        .placeholder-ui {
          background-color: #dadada;
          width: 100px;
          height: 10px;
        }
      }
    }
    .user-img {
      height: @header-height;
      margin-top: 35px;
      margin-bottom: 15px;
      @media screen and (min-width: 991.98px) {
        padding: 0 15px 0 10px;
        margin: 0;
      }
      img {
        height: 66px;
        width: 66px;
        border-radius: 50%;
        @media screen and (min-width: 991.98px) {
          height: 40px;
          width: 40px;
        }
      }
      .placeholder-ui {
        background-color: #dadada;
        height: 66px;
        width: 66px;
        border-radius: 50%;
        @media screen and (min-width: 991.98px) {
          height: 40px;
          width: 40px;
        }
      }
    }
    .auth-icon {
      a {
        &:hover {
          .svg-icon {
            fill: #2638BB;
          }
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    #mobileMenu {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      pointer-events: none;
      z-index: 105;
      overflow: auto;
    }
    #menuCont {
      width: 260px;
      min-height: 100vh;
      background-color: #fff;
      transform: translateX(-103%);
    }
  }
  
  #mobileMenu {
    @media screen and (min-width: 991.98px) {
      background: none !important;
    }
  }
  #menuCont {
    @media screen and (min-width: 991.98px) {
      transform: none !important;
    }
  }
  
  .menu-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: @header-height;
    margin-right: -15px;
    .mobile-menu-icon {
      padding: 12px;
      margin-right: 3px;
      height: 46px;
      width: 47px;
      div {
        position: relative;
        width: 23px;
        height: 4px;
        background: #283593;
        border-radius: 2px;
        &:nth-child(2) {
          margin: 5px 0;
        }
      }
    }
  }
}