@topline-height: 85px;

.site-footer {
  background-color: #283593;
  color: #fff;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  ul {
    margin: 0;
    padding: 0%;
    list-style: none;
  }
  a {
    color: #fff;
    &:hover {
      color: #EF6C00;
      .svg-icon {
        fill: #EF6C00;
      }
    }
  }
  .top-line {
    padding-bottom: 24px;
    @media screen and (min-width: 576px) {
      height: @topline-height;
      padding-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: -2px;
    }
  }
  .br-line {
    border-bottom: 1px solid #5F5FC4;
    max-width: 1140px;
    margin: auto;
  }
  .bottom-line {
    padding: 25px 0 27px 0;
    @media screen and (min-width: 576px) {
      padding-top: 26px;
      padding-bottom: 35px;
    }
    @media screen and (min-width: 992px) {
      padding-top: 24px;
      padding-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 25px;
      padding-bottom: 37px;
    }
  }
  .footer-logo {
    padding-top: 30px;
    padding-bottom: 17px;
    @media screen and (min-width: 576px) {
      height: @topline-height;
      padding-bottom: 4px;
      padding-top: 0;
    }
    img {
      height: 24px;
    }
  }
  .footer-navs {
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      li {
        padding-bottom: 5px;
      }
      @media screen and (min-width: 576px) {
        height: @topline-height;
        flex-direction: row;
        li {
          padding: 0 4px 3px 4px;
          &:last-child {
            padding-right: 0;
          }
        }
      }
      @media screen and (min-width: 585px) {
        li {
          padding: 0 5px 3px 5px;
        }
      }
      @media screen and (min-width: 605px) {
        li {
          padding: 0 7px 3px 7px;
        }
      }
      @media screen and (min-width: 620px) {
        li {
          padding: 0 9px 3px 9px;
        }
      }
      @media screen and (min-width: 640px) {
        li {
          padding: 0 11px 3px 11px;
        }
      }
      @media screen and (min-width: 660px) {
        li {
          padding: 0 13px 3px 13px;
        }
      }
      @media screen and (min-width: 680px) {
        li {
          padding: 0 15px 3px 15px;
        }
      }
    }
  }
  .contacts {
    font-size: 18px;
    @media screen and (min-width: 992px) {
      font-size: 20px;
    }
    .contacts-img {
      width: 28px;
      display: inline-block;
      text-align: center;
    }
    li {
      padding-bottom: 12px;
      line-height: 23px;
      text-align: center;
      @media screen and (min-width: 576px) {
        text-align: left;
        line-height: 24px;
        padding-bottom: 20px;
      }
      @media screen and (min-width: 992px) {
        padding-bottom: 21px;
      }
      @media screen and (min-width: 1200px) {
        padding-bottom: 20px;
      }
    }
  }
  .footer-links {
    text-align: right;
    li {
      padding-bottom: 8px;
      @media screen and (min-width: 576px) {
        padding-bottom: 9px;
      }
    }
  }
  .copyrights {
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
    @media screen and (min-width: 576px) {
      text-align: left;
      padding-top: 17px;
    }
    @media screen and (min-width: 992px) {
      padding-top: 19px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 15px;
    }
  }
  .socials {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    li {
      padding: 0 10px;
    }
    @media screen and (min-width: 576px) {
      padding-top: 12px;
      justify-content: flex-end;
      li {
        padding-right: 0;
        padding-left: 20px;
      }
    }
    @media screen and (min-width: 992px) {
      padding-top: 9px;
    }
  }
}