.users {
  position: relative;
  background-color: #fff;
  text-align: center;

  &.uploaded-all {
    margin-bottom: -29px;
  }

  h2 {
    padding-top: 67px;
    margin-bottom: 18px;
  }
  h5 {
    width: 170px;
    margin: 0 auto 30px;
  }

  .user-block {
    margin-bottom: 29px;
    .user-image {
      position: relative;
      width: 70px;
      height: 70px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 8px;
      margin-left: auto;
      margin-right: auto;
      background-color: #dedede;
      img {
        position: absolute;
        left: 0;
        right: 0;
        max-height: 70px;
        margin: auto;
      }
    }
    .user-data{
      .name {
        color: #000;
        font-size: 22px;
        font-family: 'Overpass', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 27px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        margin-bottom: 4px;
      }
    }
    .user-info {
      color: #626161;
      font-size: 14px;
      line-height: 20px;
    }
    .phone, .email, .position {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
    .email {
      margin-top: -3px;
    }
    .phone {
      margin-top: -1px;
    }

    &.placeholder-ui {
      .user-image {
        width: 70px;
        height: 70px;
        background: #dadada;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 992px) {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .name {
        background: #dadada;
        height: 26px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        @media (min-width: 992px) {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .phone, .email, .position {
        background: #dadada;
        width: 200px;
        height: 10px;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 992px) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
  .show-more-wrapper {
    width: 100%;
  }
  .load-more {
    margin: auto;

  }

  :host-context(.gtm_ab_test_green_btn) .load-more {
    border-color: #0b0;
    color: #0b0;

    &:hover {
      color: #0c0;
      background-color: #E3FFE3;
    }

    .abz-loader {
      background-color: #0b0;
      color: #0b0;
      
      &:before,
      &:after {
        background: #0b0;
      }
    }
  }
  
  @media (min-width: 576px) {
    padding-bottom: 66px;
    &.uploaded-all {
      margin-bottom: -37px;
    }

    h2 {
      margin-top: 46px;
      padding-top: 65px;
    }
    h5 {
      width: auto;
      margin-bottom: 37px;
    }
    .user-block {
      margin-bottom: 37px;
      .user-image {
        margin-bottom: 10px;
      }
      .user-data {
        .name {
          margin-bottom: 5px;
          line-height: 27px;
        }
        .user-info {
          line-height: 18px;
          .email {
            margin-top: 0px;
          }
          .phone {
            margin-top: 1px;
          }
        }
      }
    }
    .show-more-wrapper {
      margin-top: 23px;
    }
  }

  
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 25px;
    &.uploaded-all {
      margin-bottom: -61px;
    }

    h2 {
      margin-top: 0;
      padding-top: 132px;
      margin-bottom: 17px;
    }
    h5 {
      margin-bottom: 57px;
    }

    .user-block {
      display: flex;
      margin-bottom: 61px;
      .user-image {
        margin-left: 0;
        margin-right: 0;
      }
      .user-data {
        text-align: left;
        padding-top: 22px;
        padding-left: 9px;
        .name {
          margin-bottom: 10px;
          max-width: 200px;
        }
      }
      .phone, .email, .position {
        max-width: 200px;
      }
    }
    .show-more-wrapper {
      margin-top: -6px;
    }
  }

  @media (min-width: 1200px) {
    &.uploaded-all {
      margin-bottom: -59px;
    }

    h2 {
      padding-top: 134px;
    }
    .user-block {
      margin-bottom: 61px;
      .user-data {
        padding-top: 19px;
        .name {
          max-width: 270px;
        }
      }
      .phone, .email, .position {
        max-width: 270px;
      }
    }
    .show-more-wrapper {
      margin-top: -6px;
    }
  }
}