<section
  class="users"
  *ngIf="!hideBlock"
  [ngClass]="{'uploaded-all': !usersToLoad}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 id="users">Our cheerful users</h2>
        <h5>Attention! Sorting users by registration date</h5>
      </div>
      <ng-container *ngIf="!users.length">
        <div
          class="col-12 col-md-4" *ngFor="let item of usersCount">
          <div class="user-block placeholder-ui">
            <div class="user-image"></div>
            <div class="user-data">
              <div class="name"></div>
              <div class="user-info">
                <div class="position"></div>
                <div class="email"> </div>
                <div class="phone"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div
        class="col-12 col-md-4"
        *ngFor="let user of users">
        <div class="user-block">
          <div class="user-image">
            <img
              src="assets/images/cover-icon-user.svg"
              style="padding:3px"
              alt="{{user.name}}"
              [appUserPhoto]="user.photo">
          </div>
          <div class="user-data">
            <div class="tooltip-container">
              <div
                class="name"
                appTooltip>
                {{user.name}}
              </div>
            </div>
            <div class="user-info">
              <div class="tooltip-container">
                <div
                  class="position"
                  appTooltip>
                  {{user.position}}
                </div>
              </div>
              <div class="tooltip-container">
                <div
                  class="email"
                  appTooltip>
                  {{user.email}}
                </div>
              </div>
              <div class="tooltip-container">
                <div
                  class="phone"
                  appTooltip>
                  {{user.phone}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="show-more-wrapper"
        *ngIf="usersToLoad">
        <button
          class="abz-sec-btn load-more"
          [ngClass]="btnColor"
          (click)="showMore()">
          <span
            id="gtm_show_more"
            [ngClass]="btnColor"
            *ngIf="!showLoader">Show more</span>
          <div
            class="abz-loader"
            *ngIf="showLoader"></div>
          </button>
      </div>
    </div>
  </div>
</section>