<div
  class="abz-file-upload"
  [formGroup]="userForm">
  <input
    type="file"
    name="form_photo"
    id="form_photo"
    formControlName="photo"
    (change)="inputChanged($event)"
    appMaxFileSize="{{maxFileSize}}"
    appMinImageResolution="{{minImgRes}}"
    appAllowedImageFormats="{{allowedFormats}}"
    #inputEl>
  <label for="form_photo">
    <div
      class="src"
      #inputCont>
      Upload your photo
    </div>
    <div class="upload-btn">
      <span class="d-none d-md-block">Upload</span>
      <span class="d-md-none">
        <svg width="20px" height="24px" viewBox="0 0 20 24">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="upload" fill="#EF6C00" fill-rule="nonzero">
              <path d="M18.12,14.2 C18.0551642,14.222096 17.9848358,14.222096 17.92,14.2 C17.86,14.2 17.81,14.2 17.78,14.31 C17.75,14.42 17.71,14.43 17.69,14.43 C17.67,14.43 17.69,14.49 17.69,14.61 L17.69,14.79 L17.69,19.56 C17.6847889,20.2177137 17.4164079,20.8459493 16.9447897,21.3044148 C16.4731715,21.7628804 15.837598,22.0133892 15.18,22 L4.41,22 C3.75845014,22.0102355 3.13190144,21.7494753 2.68,21.28 C2.23532929,20.8310068 1.99022381,20.2218476 2,19.59 L2,14.69 C2.00654693,14.5778048 1.97087459,14.4672205 1.9,14.38 C1.82129123,14.2955515 1.71478409,14.2422979 1.6,14.23 C1.48132462,14.2048911 1.3610262,14.188183 1.24,14.18 L0.49,14.18 C0.360349482,14.1786835 0.236431451,14.2333533 0.15,14.33 C0.0544088005,14.4171944 -4.1366484e-05,14.5406148 2.03938429e-16,14.67 L2.03938429e-16,19.57 C-0.0168652328,20.7430529 0.449651354,21.8713721 1.29,22.69 C2.1052145,23.5377036 3.23397252,24.0116372 4.41,24 L15.18,24 C16.3504191,24.0026631 17.4736678,23.5388946 18.3012812,22.7112812 C19.1288946,21.8836678 19.5926631,20.7604191 19.59,19.59 L19.59,14.69 C19.5965469,14.5778048 19.5608746,14.4672205 19.49,14.38 C19.4144273,14.2914523 19.3061818,14.2373295 19.19,14.23 C19.0713246,14.2048911 18.9510262,14.188183 18.83,14.18 L18.12,14.18 L18.12,14.2 Z" id="Shape"></path>
              <path d="M9.11,0.29 L0.78,8.62 C0.411745823,9.00629829 0.411745823,9.61370171 0.78,10 C0.956726196,10.1937775 1.20775326,10.3029197 1.47,10.3 L5.88,10.3 L5.88,17.15 C5.88,17.7022847 6.32771525,18.15 6.88,18.15 L12.75,18.15 C13.3022847,18.15 13.75,17.7022847 13.75,17.15 L13.75,10.29 L18.16,10.29 C18.4222467,10.2929197 18.6732738,10.1837775 18.85,9.99 C19.2119426,9.60504999 19.2119426,9.00495001 18.85,8.62 L10.48,0.29 C10.09505,-0.0719425778 9.49495001,-0.0719425778 9.11,0.29 Z" id="Shape"></path>
            </g>
          </g>
        </svg>
      </span>
    </div>
  </label>
  <div
    class="hint"
    *ngIf="userForm.get('photo').touched">
    <div
      *ngIf="userForm.get('photo').hasError('required') && isEmpty">
      This field is required
    </div>
    <div
      *ngIf="userForm.get('photo').hasError('maxFileSize')">
      This file is too large, allowed file size: {{maxFileSize}} MB
    </div>
    <div
      *ngIf="userForm.get('photo').hasError('minImgRes')">
      This image is too small, min image resolution: {{minImgRes}} px
    </div>
    <div
      *ngIf="userForm.get('photo').hasError('allowedFormat')">
      This file format is forbidden, allowed file formats: {{allowedFormats}}
    </div>
  </div>
  <div
    class="hint"
    *ngIf="userForm.get('photo').pristine">
    <div>
      File format jpg  up to 5 MB, the minimum size of 70x70px
    </div>
  </div>
</div>