.abz-file-upload {
  position: relative;
  color: #8d8c8c;
  label {
    display: flex;
    .src {
      height: 56px;
      width: ~'calc(100% - 56px)';
      border-radius: 4px 0 0 4px;
      border: 1px solid #B7B7B7;
      border-right-width: 0;
      padding: 15px;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.empty-input {
        color: #8d8c8c;
      }
      
      @media (min-width: 768px) {
        width: ~'calc(100% - 130px)';
      }
    }
    .upload-btn {
      height: 56px;
      width: 56px;
      border-radius: 0 4px 4px 0;
      border: 2px solid #EF6C00;
      display: flex;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      color: #EF6C00;
      font-size: 20px;
      cursor: pointer;

      @media (min-width: 768px) {
        width: 130px;
      }

      &:active {
        color: #FC831F;
        border-color: #FC831F;
        #upload {
          fill: #FC831F;
        }
      }

      @media (min-width: 992px) {
        &:hover {
          color: #FC831F;
          border-color: #FC831F;
          background: #fee6d2;
          #upload {
            fill: #FC831F;
          }
        }
      }
    }
  }
  .hint {
    font-size: 12px;
    position: absolute;
    top: 60px;
    left: 17px;
    color: #B7B7B7;
  }
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    &:focus {
      & + label {
        .src {
          box-shadow: inset 0 0 0 1px #b7b7b7;
        }
      }
    }
    &.ng-touched.ng-dirty {
      & + label {
        .src {
          color: #000;
          &.empty-input {
            color: #8d8c8c;
          }
        }
      }
    }
    &.ng-dirty.ng-invalid {
      & + label {
        .src {
          border-color: #F44133;
        }
      }
      & ~ .hint div {
        color: #F44133;
      }
      &:focus {
        & + label {
          .src {
            box-shadow: inset 0 0 0 1px #f44336;
          }
        }
      }
    }
  }
}