<app-header></app-header>
<main>
  <section class="main-banner" id="banner">
    <div class="container-fluid">
      <div class="banner-text">
        <h1>
          Test assignment for <br class="d-none d-sm-inline">
          Frontend Developer<br class="d-none d-sm-inline">
          position
        </h1>
        <p>
          We kindly remind you that your test assignment should be submitted as a link
          to github/bitbucket repository. <span class="d-none d-sm-inline">Please be patient, we consider and respond to
          every application that meets minimum requirements. We look forward to your
          submission. Good luck!</span> 
        </p>
      </div>
      <div class="anchor-btn">
        <a href="#signUp" class="abz-main-btn">
          <span>
            Sign Up
          </span>
        </a>
      </div>
    </div>
  </section>
  <section class="get-acquainted">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12" id="aboutMe">
          <h2 class="ga-title">Let's get acquainted</h2>
        </div>
        <div class="col-12 col-sm-5 col-md-4">
          <div class="man-mobile">
            <img src="assets/images/man-mobile.svg" alt="Man with mobile">
          </div>
        </div>
        <div class="col-12 col-sm-7 col-md-8">
          <h3 class="about-title">I am cool frontend developer</h3>
          <p>
            When real users have a slow experience on mobile, they're much less likely to find what they are
            looking for or purchase from you in the future. For many sites this equates to a huge missed
            opportunity, especially when more than half of visits are abandoned if a mobile page takes over
            3 seconds to load.
          </p>
          <p>
            Last week, Google Search and Ads teams announced two new speed initiatives to help improve user&#8209;experience on the web.
          </p>
          <p class="before-anchor">
            <a href="#signUp" class="abz-text-btn">Sign Up</a>
          </p>
        </div>
        <div class="col-12 d-none d-sm-block d-lg-none sroll-margin"></div>
        <div class="col-12" id="relationships">
          <h2 class="skills-title">
            About my relationships <br class="d-sm-none">
            with web-development
          </h2>
        </div>
        <div class="col-12 col-lg-4">
          <div class="skill-block">
            <div class="skill-img">
              <img src="assets/images/html.svg" alt="HTML">
            </div>
            <div class="skill-text">
              <h3>I'm in love with HTML</h3>
              <p>
                Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="skill-block">
            <div class="skill-img">
              <img src="assets/images/css.svg" alt="CSS">
            </div>
            <div class="skill-text">
              <h3>CSS is my best friend</h3>
              <p>
                Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of
                a document written in a markup language like HTML.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="skill-block">
            <div class="skill-img">
              <img src="assets/images/javascript.svg" alt="JavaScript">
            </div>
            <div class="skill-text">
              <h3>JavaScript is my passion</h3>
              <p>
                JavaScript is a high&#8209;level, interpreted programming language. 
                It is a language which is also characterized as dynamic, weakly typed, prototype&#8209;based and multi&#8209;paradigm.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="requirements" id="requirements">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>General requirements for the test task</h2>
        </div>
        <div class="col-12 col-sm-6 order-sm-2">
          <div class="man-laptop d-sm-none d-lg-block">
            <img src="assets/images/man-laptop.svg" alt="Man with laptop">
          </div>
          <div class="man-laptop d-none d-sm-block d-lg-none">
            <img src="assets/images/man-laptop-tablet.svg" alt="Man with laptop">
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <p>
            Users want to find answers to their questions quickly and data shows that people really
            care about how quickly their pages load. The Search team announced speed would be a
            ranking signal for desktop searches in 2010 and as of this month (July 2018), page
            speed will be a ranking factor for mobile searches too.
          </p>
          <p>
            If you're a developer working on a site, now is a good time to evaluate your performance
            using our speed tools. Think about how performance affects the user experience of your
            pages and consider measuring a variety of real&#8209;world user&#8209;centric performance metrics.
          </p>
          <p>
            Are you shipping too much JavaScript? Too many images? Images and JavaScript are the most
            significant contributors to the page weight that affect page load time based on data from
            HTTP Archive and the Chrome User Experience Report - our public dataset for key UX metrics
            as experienced by Chrome users under real&#8209;world conditions.
          </p>
        </div>
      </div>
    </div>
  </section>
  <app-users #usersComponent></app-users>
  <app-user-form [usersComponent]="usersComponent"></app-user-form>
</main>
<app-footer></app-footer>