@import "../assets/less/mixins.less";

main {
  background-color: #fff;
  margin-top: 64px;
  .main-banner {
    position: relative;
    height: 393px;
    background-image: url(../assets/images/banner-320px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    .banner-text {
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      padding: 0 20px;
    }
    h1 {
      text-align: center;
      line-height: 34px;
      margin-bottom: 14px;
      font-weight: 400;
    }
    p {
      text-align: center;
      font-weight: 400;
    }
    .anchor-btn {
      width: 100%;
      position: absolute;
      bottom: 70px;
      left: 0;
    }
    .abz-main-btn {
      margin: auto;
    }

    @media (min-width: 321px) {
      background-image: url(../assets/images/banner-576x393px_opt2.jpg);
    }
    @media (min-width: 577px) {
      background-image: url(../assets/images/banner-768px.jpg);
      background-position: left center;
      height: 622px;

      .banner-text  {
        position: initial;
        padding-left: 0;
      }

      h1 {
        text-align: left;
        line-height: 51px;
        padding-top: 109px;
        margin-bottom: 23px;
      }
      p {
        text-align: left;
        width: 383px;
        font-size: 18px;
        margin-bottom: 34px;
        font-weight: 300;
      }
      .anchor-btn {
        position: initial;
      }
      .abz-main-btn {
        margin-left: 0;
      }
    }
    @media (min-width: 769px) {
      background-image: url(../assets/images/banner-1024x622px.jpg);
    }
    @media (min-width: 992px) {
      background-image: url(../assets/images/banner-1024x725px.jpg);
      height: 725px;

      h1 {
        line-height: 61px;
        padding-top: 127px;
        margin-bottom: 22px;
      }
      p {
        font-size: 20px;
        width: 430px;
        margin-bottom: 39px;
        line-height: 26px;
      }
    }
    @media (min-width: 1025px) {
      background-image: url(../assets/images/banner-1280x725px.jpg);
    }
    @media (min-width: 1200px) {
      height: 676px;
      background-image: url(../assets/images/banner-1440x676px.jpg);
      h1 {
        padding-top: 128px;
        margin-bottom: 23px;
        line-height: 60px;
      }
      p {
        width: 510px;
        margin-bottom: 33px;
      }
    }
    @media (min-width: 1441px) {
      background-image: url(../assets/images/banner-1680px.jpg);
    }
    @media (min-width: 1681px) {
      background-image: url(../assets/images/banner-1920px.jpg);
    }
    @media (min-width: 1921px) {
      background-image: url(../assets/images/banner-2560px.jpg);
    }
    @media (min-width: 2561px) {
      background-image: url(../assets/images/banner-full.jpg);
    }

    @media (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
      background-image: url(../assets/images/banner-320px@2x.jpg);

      @media (min-width: 321px) {
        background-image: url(../assets/images/banner-576x393px@2x_opt2.jpg);
      }
      @media (min-width: 577px) {
        background-image: url(../assets/images/banner-768px@2x.jpg);
      }
      @media (min-width: 769px) {
        background-image: url(../assets/images/banner-1024x622px@2x.jpg);
      }
      @media (min-width: 992px) {
        background-image: url(../assets/images/banner-1024x725px@2x.jpg);
      }
      @media (min-width: 1025px) {
        background-image: url(../assets/images/banner-1280x725px@2x.jpg);
      }
      @media (min-width: 1200px) {
        background-image: url(../assets/images/banner-1440x676px@2x.jpg);
      }
      @media (min-width: 1441px) {
        background-image: url(../assets/images/banner-1680px@2x.jpg);
      }
      @media (min-width: 1681px) {
        background-image: url(../assets/images/banner-1920px@2x.jpg);
      }
      @media (min-width: 1921px) {
        background-image: url(../assets/images/banner-2560px@2x.jpg);
      }
      @media (min-width: 2561px) {
        background-image: url(../assets/images/banner-full.jpg);
      }
    }
  }

  .get-acquainted {
    background-color: #fff;
    padding-bottom: 42px;
    @media (min-width: 576px) {
      padding-top: 47px;
      padding-bottom: 74px;
    }
    @media (min-width: 992px) {
      padding-top: 0;
      height: 1187px;
    }
    @media (min-width: 1200px) {
      height: 1143px;
    }
    .sroll-margin {
      margin-top: 69px;
    }
    h2 {
      text-align: center;
      @media (min-width: 576px) {
        font-size: 42px;
        font-weight: 600;
      }
      &.ga-title {
        padding-top: 69px;
        margin-bottom: 26px;  
        @media (min-width: 576px) {
          padding-top: 65px;
          margin-bottom: 17px;
        }
        @media (min-width: 992px) {
          padding-top: 132px;
          margin-bottom: 19px;
        }
        @media (min-width: 1200px) {
          padding-top: 133px;
        }
      }
      &.skills-title {
        font-size: 25px;
        line-height: 31px;
        padding-top: 68px;
        margin-bottom: 29px;
        @media (min-width: 576px) {
          width: 540px;
          margin: auto;
          padding-top: 60px;
          padding-bottom: 49px;
          font-size: 42px;
          line-height: 52px;
          font-weight: 600;
        }
        @media (min-width: 992px) {
          padding-top: 126px;
          line-height: 51px;
        }
        @media (min-width: 1200px) {
          padding-top: 78px;
        }
      }
    }
    h3 {
      @media (min-width: 576px) {
        font-size: 26px;
        font-weight: 600;
      }
    }
    p {
      margin-right: auto;
      line-height: 22px;
      margin-left: auto;
      text-align: center;
      margin-bottom: 22px;
      color: #393939;
      &.before-anchor {
        margin-top: -5px;
      }
      @media (min-width: 576px) {
        text-align: left;
        margin-left: 0;
        margin-bottom: 26px;
        &.before-anchor {
          margin-top: -9px;
        }
      }
      @media (min-width: 992px) {
        margin-bottom: 22px;
        &.before-anchor {
          margin-top: -6px;
        }
      }
      @media (min-width: 1200px) {
        &.before-anchor {
          margin-top: -8px;
        }
      }
    }
    .man-mobile {
      text-align: center;
      img {
        width: 100%;
        padding: 0 35px;
      }
      @media (min-width: 576px) {
        margin-top: 28px;
        img {
          padding: 0;
        }
      }
      @media (min-width: 992px) {
        margin-top: 7px;
        img {
          width: 289px;
        }
      }
      @media (min-width: 1200px) {
        margin-top: 31px;
      }
    }
    .abz-text-btn {
      display: inline-block;
      @media (min-width: 576px) {
        padding-top: 5px;
      }
      @media (min-width: 1200px) {
        padding-top: 0;
      }
    }
    .about-title {
      margin: 28px auto 12px auto;
      text-align: center;
      padding: 0 40px;
      @media (min-width: 576px) {
        text-align: left;
        padding: 0;
      }
      @media (min-width: 992px) {
        margin-top: 31px;
        margin-bottom: 10px;
      }
      @media (min-width: 1200px) {
        margin-bottom: 11px;
      }
    }
    .skill-block {
      text-align: center;
      margin-bottom: 28px;
      @media (min-width: 576px) {
        display: flex;
        text-align: left;
        margin-bottom: 49px;
      }
      @media (min-width: 992px) {
        flex-direction: column;
      }
      .skill-img {
        img {
          width: 88px;
        }
        @media (min-width: 576px) {
          min-width: 189px;
          text-align: center;
          img {
            margin-left: 30px;
          }
        }
        @media (min-width: 992px) {
          text-align: left;
          margin-bottom: 25px;
          img {
            margin-left: 0;
            width: 98px;
          }
        }
      }
      h3 {
        padding-top: 14px;
        margin-bottom: 4px;
        line-height: 23px;
        @media (min-width: 576px) {
          padding-top: 0;
          margin-top: -4px;
          margin-bottom: 11px;
          font-weight: 600;
        }
        @media (min-width: 992px) {
          padding-top: 0;
          margin-top: 0;
          margin-bottom: 7px;
          letter-spacing: -0.5px;
        }
        @media (min-width: 1200px) {
          margin-bottom: 8px;
          letter-spacing: 0;
        }
      }
      p {
        @media (min-width: 576px) {
          margin-bottom: 0;
          padding-right: 65px;
        }
        @media (min-width: 992px) {
          width: auto;
          padding-top: 6px;
          padding-right: 0;
        }
      }
    }
    .before-anchor {
      margin-bottom: 0;
    }
  }
  .requirements {
    padding-bottom: 43px;
    background-color: #204693;
    color: #fff;

    .bannerBackground("/assets/images/blue-banner");

    h2 {
      width: 260px;
      margin: auto;
      text-align: center;
      padding-top: 64px;
      font-weight: 400;
      line-height: 31px;
      font-size: 26px;
      @media screen and (min-width: 576px) {
        font-size: 40px;
      }
    }
    .man-laptop {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 24px;
      img {
        width: 100%;
        padding: 0 15px;
      }
    }
    p {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      line-height: 22px;
      letter-spacing: 0.2px;
    }

    @media (min-width: 576px) {
      padding-bottom: 47px;
      padding-bottom: 97px;

      h2 {
        width: 450px;
        padding-top: 112px;
        padding-bottom: 40px;
        line-height: 51px;
      }
      .man-laptop {
        display: flex;
        align-items: flex-start;
        height: 100%;
        margin: 0;
        img {
          width: 100%;
          padding: 0;
        }
      }
      p {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 22px;
      }
    }
    @media (min-width: 768px) {
      .man-laptop {
        img {
          width: 343px;
        }
      }
    }
    @media (min-width: 992px) {
      padding-bottom: 0;
      padding-bottom: 131px;

      h2 {
        width: auto;
        padding-top: 136px;
        padding-bottom: 38px;
      }
      .man-laptop {
        padding-left: 22px;
        align-items: center;
        img {
          width: 429px;
        }
      }
    }
    @media (min-width: 1200px) {
      height: 692px;
      h2 {
        padding-top: 131px;
        padding-bottom: 43px;
      }
      .man-laptop {
        padding-left: 0;
      }
      p {
        margin-bottom: 22px;
      }
    }
  }
}