.registration {
  padding-top: 64px;
  padding-bottom: 70px;

  @media (min-width: 576px) {
    padding-top: 65px;
    padding-bottom: 120px;
  }
  @media (min-width: 992px) {
    padding-top: 126px;
    padding-bottom: 139px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 149px;
  }

  h2, h5 {
    text-align: center;
  }
  h2 {
    margin-bottom: 15px;
    @media (min-width: 576px) {
      margin-bottom: 27px;
    }
    @media (min-width: 992px) {
      margin-bottom: 17px;
    }
  }
  h5 {
    line-height: 22px;
    margin-bottom: 7px;
    @media (min-width: 576px) {
      width: 360px;
      margin-left: auto;
      margin-right: auto;
      line-height: 21px;
      margin-bottom: 8px;
    }
    @media (min-width: 992px) {
      width: auto;
      margin-left: 0;
      margin-bottom: 9px;
    }
  }

  .signup-form {
    margin-top: 24px;
    @media (min-width: 768px) {
      margin-top: 44px;
    }
    @media (min-width: 992px) {
      margin-top: 54px;
    }
    input::-ms-clear {
      display: none;
    }
    .abz-input-wrapper {
      position: relative;
      margin-bottom: 35px;
      .hint {
        position: absolute;
        top: 60px;
        left: 17px;
        font-size: 12px;
        color: #B7B7B7;
        transition: color .2s ease-in-out;
      }
      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
      label:not(.input-btn) {
        position: absolute;
        top: -8px;
        left: 15px;
        padding: 0 4px;
        color: #8d8c8c;
        font-size: 12px;
        background-color: #fff;
      }
      .abz-input {
        position: relative;
        height: 56px;
        border-radius: 4px;
        border: 1px solid #b7b7b7;
        width: 100%;
        padding: 0 15px;
        color: #8d8c8c;
        -webkit-appearance: none;

        &.ng-invalid.ng-touched {
          border-color: #f44336;

          & + label, & ~ .hint {
            color: #f44336;
          }
        }
        &.ng-touched:not(.empty-input), &.ng-dirty:not(.empty-input) {
          color: #000;
        }
        &.ng-touched.ng-pristine {
          color: #8d8c8c;
        }

        &:focus {
          outline: none;
          box-shadow: inset 0 0 0 1px #b7b7b7;

          &.ng-invalid.ng-touched {
            box-shadow: inset 0 0 0 1px #f44336;
          }
        }

        &::placeholder {
          color: #8d8c8c;
        }
      }
      .input-hint {
        position: absolute;
        color: #8d8c8c;
        font-size: 12px;
        top: 60px;
        left: 18px;
        width: ~'calc(100% - 18px)';
      }
    }
    button[type="submit"] {
      margin-left: auto;
      margin-right: auto;
      margin-top: 21px;
      @media (min-width: 768px) {
        margin-top: 20px;
      }
      @media (min-width: 1200px) {
        margin-top: 22px;
      }
    }
    .abz-loader {
      top: 7px;
      color: #fff;
      background-color: #fff;
      &:before,
      &:after {
        background: #fff;
        }
      }
  }
  .submit-status {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    a {
      font-size: 20px;
    }
    div:not(.btn-wrapper) {
      width: 290px;
      background-color: #fff;
      padding: 18px 23px 19px 23px;
      border-radius: 3px;
    }
    .btn-wrapper {
      margin-top: 35px;
      text-align: right;
      font-size: 20px;
    }
  }
}