<section
  class="registration"
  id="signUp"
  *ngIf="!getPositionsError">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>Register to get a work</h2>
        <h5>
          Attention! After successful registration and alert,
          update the list of users
          in the block from the top
        </h5>
      </div>
      <div class="col-12">
        <form
          class="row signup-form"
          id="gtm_submit_form"
          [formGroup]="userForm"
          (submit)="submitForm()">
          <div class="col-12 col-md-4">
            <div class="abz-input-wrapper">
              <input
                type="text"
                name="form_name"
                id="form_name"
                class="abz-input"
                placeholder="Your name"
                maxlength="60"
                formControlName="name">
              <label for="name">Name</label>
              <div
                class="hint"
                *ngIf="userForm.get('name').touched">
                <div
                  *ngIf="userForm.get('name').hasError('required')">
                  This field is required
                </div>
                <div
                  *ngIf="userForm.get('name').hasError('minlength')">
                  Name must be at least 2 characters
                </div>
                <div
                  *ngIf="userForm.get('name').hasError('maxlength')">
                  Name must be not longer than 60 characters
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="abz-input-wrapper">
              <input
                type="email"
                name="form_email"
                id="form_email"
                class="abz-input"
                placeholder="Your email"
                maxlength="100"
                formControlName="email">
              <label for="name">Email</label>
              <div
                class="hint"
                *ngIf="userForm.get('email').touched">
                <div
                  *ngIf="userForm.get('email').hasError('required')">
                  This field is required
                </div>
                <div
                  *ngIf="userForm.get('email').hasError('pattern')">
                  Please enter valid email
                </div>
                <div
                  *ngIf="userForm.get('email').hasError('maxlength')">
                  Name must be not longer than 100 characters
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="abz-input-wrapper">
              <input
                type="tel"
                name="form_tel"
                id="form_tel"
                class="abz-input"
                placeholder="+38 (0__) ___ __ __"
                formControlName="phone"
                mask="(000) 000 00 00"
                prefix="+38 "
                [showMaskTyped]="true"
                (focus)="onFocusPhone($event)"
                (blur)="onBlurPhone()"
                (keydown)="keyDown($event)"
                #phoneInput>
              <label for="name">Phone</label>
              <div
                class="hint"
                *ngIf="userForm.get('phone').touched">
                <div
                  *ngIf="userForm.get('phone').hasError('required')">
                  This field is required
                </div>
                <div
                  *ngIf="userForm.get('phone').hasError('pattern')">
                  Please enter valid phone (should start with the code +380)
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="abz-input-wrapper">
              <ng-select
                class="custom"
                [items]="positions"
                bindLabel="name"
                bindValue="id"
                placeholder="Select your position"
                formControlName="position_id"
                [searchable]="false"
                [clearable]="false">
              </ng-select>
              <div
                class="hint"
                *ngIf="userForm.get('position_id').touched">
                <div
                  *ngIf="userForm.get('position_id').hasError('required')">
                  This field is required
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="abz-input-wrapper">
              <app-custom-input-file
                [group]="userForm"
                [parentSubject]="parentSubject"
                (imageAdded)="onImageAdded($event)">
              </app-custom-input-file>
            </div>
          </div>
          <div class="col-12">
            <button
              type="submit"
              class="abz-main-btn"
              [disabled]="!userForm.valid">
              <span *ngIf="!formSubmitting">Sign Up</span>
              <div
                class="abz-loader"
                *ngIf="formSubmitting"></div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="submit-status centered-block"
    *ngIf="alertShow">
    <div>
      <h3>{{alertTitle}}</h3>
      {{alertText}}
      <div class="btn-wrapper">
        <a
          class="abz-text-btn"
          href="#"
          (click)="closeAlert($event)">OK</a>
      </div>
    </div>
  </div>
</section>