.bannerBackground(@url) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("@{url}-320x1031.jpg");

  @media (min-width: 321px) {
    background-image: url("@{url}-768x1031_opt3.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("@{url}-768x878.jpg");
  }
  @media (min-width: 769px) {
    background-image: url("@{url}-992x878.jpg");
  }
  @media (min-width: 992px) {
    background-image: url("@{url}-1024x755_opt.jpg");
  }
  @media (min-width: 1025px) {
    background-image: url("@{url}-1200x755.jpg");
  }
  @media (min-width: 1200px) {
    background-image: url("@{url}-1440x692.jpg");
  }
  @media (min-width: 1441px) {
    background-image: url("@{url}-1680x692.jpg");
  }
  @media (min-width: 1681px) {
    background-image: url("@{url}-1920x692.jpg");
  }
  @media (min-width: 1921px) {
    background-image: url("@{url}-2560x692.jpg");
  }
  @media (min-width: 2561px) {
    background-image: url("@{url}-3840x692.jpg");
  }
}