
/* Specific classes */
.prevent-scroll {
  position: fixed;
  width: 100vw;
}
.apply-mac-classes {
  h2 {
    font-weight: 600 !important;
  }
  .main-banner {
    h1 {
      font-weight: 400 !important;
    }
    p {
      font-weight: 300 !important;
    }
  }
  .get-acquainted {
    h2 {
      margin-top: -2px !important;
    }
  }
  .requirements {
    h2 {
      margin-top: -2px !important;
    }
    p {
      font-weight: 300 !important;
    }
  } 
  .registration {
    .submit-status {
      h3 {
        font-weight: 600 !important;
      }
    }
  }
  .site-footer {
    font-weight: 300 !important;
  }

  &.apply-ff-classes {
    .main-banner {
      h1 {
        font-weight: 600 !important;
      }
      p {
        font-weight: 400 !important;
      }
      .abz-main-btn {
        font-weight: 700 !important;
      }
    }
    .requirements {
      h2 {
        font-weight: 600 !important;
      }
      p {
        font-weight: 400 !important;
      }
    }
    .abz-main-btn {
      &:disabled {
        font-weight: 700 !important;
      }
    }
  }
  &.chrome {
    .requirements {
      h2 {
        font-weight: 400 !important;
      }
    } 
  }
}
.apply-ios-classes {
  .main-banner {
    h1 {
      font-weight: 600 !important;
    }
    p {
      font-weight: 400 !important;
    }
  }
  .get-acquainted {
    h2 {
      font-weight: 700;
    }
    h3 {
      font-weight: 700;
    }
    .skill-block {
      h3 {
        letter-spacing: .5px;
      }
    }
  }
  .requirements {
    h2 {
      font-weight: 700;
    }
    p {
      font-weight: 400 !important;
    }
  }
}
.apply-ff-classes {
  .signup-form {
    .abz-input {
      &::placeholder {
        color: #1d1c1c !important;
      }
    }
  }
}
.apply-wind-classes {
  h1, h2, h3, h4, h5 {
    font-weight: 600 !important;
  }
  .main-banner {
    h1 {
      font-weight: 400 !important;
    }
    p {
      font-weight: 400 !important;
    }
  }
  .abz-main-btn {
    &:disabled {
      font-weight: 700 !important;
    }
  }
}