/* Libraries */
@import (css) '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";


/* Fonts */
@import (css) 'https://fonts.googleapis.com/css?family=Overpass:400,600,700|Source+Sans+Pro:300,400,600,700';

/* Global styles */

.container {
  @media screen and (min-width: 576px) {
    max-width: 750px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1170px;
  }
}

.no-bs-padding { /* Managing bootstrap column/container padding */
  padding-left: 0;
  padding-right: 0;
}

.centered-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.35;
  color: #000;
}
h1, h2, h3, h4 {
  font-family: 'Overpass', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 30px;
  @media screen and (min-width: 576px) {
    font-size: 42px;
  }
  @media screen and (min-width: 992px) {
    font-size: 50px;
  }
}
h2 {
  font-size: 26px;
  @media screen and (min-width: 576px) {
    font-size: 42px;
  }
}
h3 {
  font-size: 22px;
  line-height: 27px;
  @media screen and (min-width: 576px) {
    font-size: 26px;
  }
}
h4 {
  font-size: 22px;
}
h5 {
  line-height: 1.35;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    font-weight: 400;
  }
}

a {
  color: #000;
  &:hover {
    text-decoration: none;
    color: #ef6c00;
  }
}

.abz-main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 289px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #ef6c00;
  color: #fefefe;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  span { 
    width: 100%;
    text-align: center;
    line-height: 38px;
    padding-bottom: 2px;
  }

  &:hover {
    color: #fff;
  }
  @media (min-width: 992px) {
    &:hover {
      background-color: #FC831F;
    }
  }
  &:disabled {
    background-color: #d7d7d7;
    color: #8d8c8c;
    cursor: no-drop;
  }
}
.abz-text-btn {
  color: #EF6C00;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  @media (min-width: 992px) {
    &:hover {
      color: #FC831F;
    }
  }
}
.abz-sec-btn {
  width: 290px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #EF6C00;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EF6C00;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  
  span { 
    width: 100%;
    text-align: center;
    line-height: 33px;
    padding-bottom: 3px;
  }

  .abz-loader {
    position: relative;
    top: 4px;
  }

  &:active {
    outline: none;
    color: #FC831F;
    border-color: #FC831F;
    background: #fee6d2;
  }
  &:focus {
    outline: none;
  }
  @media (min-width: 992px) {
    &:hover {
      color: #FC831F;
      border-color: #FC831F;
      background: #fee6d2;
    }
    &:focus {
      outline: none;
    }
  }
}

.abz-tooltip {
  position: absolute;
  top: 100%;
  background: #707070;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .13s ease-in;
  z-index: 2;

  &.visible {
    opacity: 1;
    pointer-events: initial;
    transition: opacity .33s ease-out;
  }
}


.abz-loader {
  background: #EF6C00;
  animation: load1 1s infinite ease-in-out;
  width: 5px;
  height: 20px;
  color: #EF6C00;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
  margin: auto;
  &:before,
  &:after {
    background: #EF6C00;
    animation: load1 1s infinite ease-in-out;
    width: 5px;
    height: 20px;
    position: absolute;
    top: 0;
    content: '';
  }
  &:before {
    left: -7.5px;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  &:after {
    left: 7.5px;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 20px;
  }
  40% {
    box-shadow: 0 -10px;
    height: 25px;
  }
}

.ng-select.custom {
  height: 56px;
  margin-bottom: 35px;
  .ng-select-container  {
    height: 100%;
    width: 100%;  
    border-radius: 4px;
    border: 1px solid #b7b7b7;
    padding: 0 15px;
  }
  .ng-arrow-wrapper {
    .ng-arrow {
      position: relative;
      width: 16px;
      height: 25px;
      border: none;
      transition: transform .25s ease-in-out;
      &:before {
        position: absolute;
        top: 2px;
        left: 0;
        content: url(./assets/images/caret-down.svg);
      }
    }
  }
  .ng-value-container {
    padding: 0;
  }
  .ng-select-container .ng-value-container .ng-placeholder {
    color: #000;
  }
  .ng-option {
    height: 47px;
    padding-left: 15px;
    .ng-option-label {
      line-height: 31px;
    }
    &.ng-option-selected {
      color: #ef6c00;
      background-color: #fff;
      .ng-option-label {
        font-weight: 400;
        line-height: 31px;
      }
    }
    &.ng-option-marked {
      background-color: rgba(239,108,0, .2);
    }
  }
  .ng-dropdown-panel {
    box-shadow: 0 3px 8px rgba(1, 1, 1, 0.24);
  }

  &.ng-select-opened {
    .ng-arrow {
      top: 0;
      transform: rotate(180deg);
    }
  }
  &.ng-select-focused:not(.ng-select-opened) {
    &>.ng-select-container {
      box-shadow: none;
      border-color: #b7b7b7;
      box-shadow: inset 0 0 0 1px #b7b7b7;
    }
  }
  &.ng-touched.ng-invalid {
    .ng-select-container {
      border-color: #f44336;
    }
    &.ng-select-focused:not(.ng-select-opened) {
      .ng-select-container {
        box-shadow: inset 0 0 0 1px #f44336;
      }
    }
    & + .hint {
      color: #f44336 !important;
    }
  }
  
  @media (min-width: 576px) {
    margin-bottom: 40px;
  }
}

/* Implementation of responsive layout */
.container-fluid {
  max-width: 1170px !important;

  padding: 0 15px !important;

  @media (min-width: 576px) {
    padding: 0 24px !important;
  }

    /* Iphone X/XS support */
  @media (min-width: 811px) and (max-width: 812px) {
    padding: 0 40px !important;
  }
  /* Iphone XR/XS max support */
  @media (min-width: 895px) and (max-width: 896px) {
    padding: 0 40px !important;
  }
  /* @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape) {
      padding: 0 40px !important;
  } */
  
  @media (min-width: 992px) {
    padding: 0 45px !important;
  }
  @media (min-width: 1200px) {
    padding: 0 15px !important;
  }
}